
@{
    ViewBag.Title = "Thank You";
}

<main>
    <h2>
        Order Success
    </h2>
    <p>Your order has been successfully received. Your will receive an email when your order has shipped out, thank you for your business.</p>
</main>
@section Menu {
    <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
    <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Info">Info</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
}

