
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main class="flex">
        <div class="formflex">
            <h2>Access Denied</h2>
            <a asp-action="Index" asp-controller="Home" class="button">OK</a>
        </div>
    </main>