@{
    ViewBag.Title = "It is Success";
}
<main>
    <h2>Thank You</h2>

    <p>
        It is successfully and Thank you for sign up.
    </p>

</main>
@section Menu {
    <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
    <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Info">Info</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
}

