@model string
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main>
        <div class="formflex">
            <h2>Create Role</h2>

            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name"></label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
        @section Menu {
            <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
            <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Info">Info</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
        }
    </main>
