@model AppUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main class="flex">
        <div class="formflex">
            <h2>Edit User</h2>

            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-action="Edit" method="post">
                <div class="form-group">
                    <label asp-for="Id"></label>
                    <input asp-for="Id" class="input-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="input-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" />
                </div>
                <button type="submit" class="button">Save</button>
                <a asp-action="Index" class="button">Cancel</a>
            </form>
        </div>
        @section Menu {
            <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
            <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Info">Info</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
        }
    </main>
