
@{
    ViewData["Title"] = "Info";
}

<main id="infopage" class="flex">
    <section class="colmain">
        <h2>Information</h2>
        <h2>Chinese Painting General Info<a name="cp1"></a></h2>
        <p>
            <strong><a name="cp2"></a>Painting Dimensions</strong><br>
            Dimensions listed are for the size of the painted material.
            Example: all 	Shikishi paintings are approximately
            9.5" x 11". Dimensions
            listed for silk  paintings vary and are for the approximate
            size of the silk material.
        </p>
        <p>
            <strong><a name="cp3"></a>Chinese Silk Paintings</strong><br>
            The art of painting on silk goes back for centuries. Silk has a  strength, durability, and texture that makes it an excellent choice for watercolor painting.
        </p>
        <p>
            <strong><a name="cd8"></a>Chinese Rice Paper Paintings</strong><br>
            Rice paper was developed centuries ago in China and Japan for the purpose of calligraphy and brush painting. It is particularly durable, with a distinctive texture and a slight translucency, that is perfect for displaying dynamic strokes.
        </p>
        <p>
            <strong><a name="cd4"></a>Chinese Shikishi Paintings</strong><br>
            Paintings are created on Washi paper that has been mounted onto gold trim art
            board. This process produces paintings that do not need framing and come ready
            to be displayed in your home.
        </p>
        <p>
            <strong><a name="cp5"></a>Lingnan School of Painting</strong><br>
            The Lingnan School of Chinese painting stresses renewal and creativity. Its style, developed in
            China circa 1900, combines traditional Chinese Painting with elements of
            Western and Japanese realism.
        </p>
        <p>
            <strong><a name="cp6"></a>Chinese Painting Condition</strong><br>
            Our Chinese paintings are in excellent condition but we include the following information to avoid any misunderstandings. Silk paintings are rolled and properly backed for mounting and framing. Because of their unique texture, there are some minor details to expect when receiving a painting:
        </p>
        <ol>
            <li>
                We do not offer paintings with major creases or tears, however some of the corners and edges might be mildly creased and/or torn. These can easily be cut or matted and do not detract from the painting itself.
            <li>
                The nature of water paint in some instance causes minor color variations that may not be noticeable on the pictures we post. This is not a result of a mistake or mishandling, but rather a natural characteristic of the art.
            </li>
        </ol>
        <p class=wemail>
            <strong><a name="cp7"></a>Custom Orders</strong><br>
            If you would like to have Lin Hua Wu create a custom painting for you please
            <a asp-controller="Home" asp-action="Contact" asp-fragment="webForm">contact us</a> with your request.
        </p>
        <p>					</p>
        <h2><a name="sp1"></a>Shipping and Product Info</h2>
        <p>
            <strong><a name="sp2"></a>14-Day Guarantee</strong><br>
            All Chinese paintings have a 14-day money back guarantee. Returned items must be
            received in orignal condition. Refund amount is determined by the purchase
            price minus shipping and handling cost, and a 10% restocking fee. Sale priced
            items and custom order item are not returnable. Please contact us prior to
            returning a painting or for any questions.
        </p>
        <p>
            <strong><a name="sp3"></a>Prices, Currency and Taxes</strong><br>
            All prices on this web site are in U.S. dollars. Washington residents are
            charged an additional 8.8% sales tax. International customers are responsible
            for any import/export taxes and custom duties. All prices for Chinese paintings are subject to change
            without notice due subject to availability and/or other factors.
        </p>
        <p>
            <strong><a name="sp4"></a>Free shipping in the U.S.A.</strong><br>
            All orders shipped to addresses within the U.S.A. (but not include Hawii or Alaska) include free shipping and
            insurance. All items are shipped either USPS Priority Mail insured or USPS
            ground mail insured. We normally ship orders 1-2 times as week so please allow
            up to 7 business days to receive your order.
        </p>
        <p>
            <strong><a name="sp5"></a>International Sales and Shipping</strong><br>
            All orders shipped to addresses outside the U.S.A. will be charged an
            additional $55.00 shipping, insurance and handling fee. Although most
            international shipments arrive in 7-10 business days, please allow 2-3 weeks
            for delivery.
        </p>
        <p>
            <strong><a name="sp6"></a>Payment Methods</strong><br>
            We accept Money Order, Check and PayPal payments.
        </p>
        <p>
            <strong><a name="sp7"></a>How to Make a Payment</strong><br>
            All LHChinesepaintings.com payments are processed through our company
            Masterpiece Studioz, LLC. based in Washington. Payment methods are:
        </p>
        <ol>
            <li>
                <strong>PayPal Payment</strong>: Once the order is submitted you will be
                redirected to the PayPal.com web site where an invoice is automatically
                created. As soon as we receive payment verification from PayPal, we will email
                you a confirmation letter.
            <li>
                <strong>Check or Money Order:</strong><br>
                Please make payable to <strong>Masterpiece Studioz</strong> and mail to:
            </li>
        </ol>
        <div id="address">
            <p>
                Masterpiece Studioz, LLC<br>
                29325 19th PL S<br>
                Federal Way, WA 98003<br>
                USA
            </p>
        </div>
        <p class=wemail>
            <strong><a name="sp8"></a>Inventory Info</strong><br>
            Orders are taken on a first come, first serve basis. All of our Chinese paintings are originals and may already be sold prior to placing your order. If this is the case we may suggest that you  place  a <a asp-controller="Home" asp-action="Info" asp-fragment="cp7">
                custom
                order
            </a>. We update our website frequently but may not be able to always reflect the current inventory.
        </p>
        <p>
            <strong><a name="sp9"></a>Product Info</strong><br>
            Our goal is to provide you with the most clear pictures and accurate descriptions of our paintings. Variations in computer monitors may distort the appearance original work or the actual color of an item may vary from the pictures displayed on this web site. Descriptions of  size and color are approximations. All prices are subject to change without notice due subject to availability and/or other factors.
        </p>
    </section>
    <nav class="colside">
        <ul>
            <li><h3><a href="#cp1">Chinese Painting General Info</a></h3></li>
            <li><a href="#cp2">Painting Dimensions</a></li>
            <li><a href="#cp3">Chinese Silk Painting</a></li>
            <li><a href="#cd8">Rice Paper</a></li>
            <li><a href="#cd4">Shikishi</a></li>
            <li><a href="#cp5">Lingnan School of Painting</a></li>
            <li><a href="#cp6">Chinese Painting Condition</a></li>
            <li><a href="#cp7">Custom Order</a></li>
            <li><h3 id="sapi"><a href="#sp1">Shipping and Product Info</a></h3></li>
            <li><a href="#sp2">14-Day Guarantee</a></li>
            <li><a href="#sp3">Prices, Currency and Taxes</a></li>
            <li><a href="#sp4">Shipping in the U.S.A.</a></li>
            <li><a href="#sp5">International Sales and Shipping</a></li>
            <li><a href="#sp6">Payment Methods</a></li>
            <li><a href="#sp7">How to Make a Payment</a></li>
            <li><a href="#sp8">Inventory Info</a></li>
            <li><a href="#sp9">Product Info</a></li>
        </ul>
    </nav>

</main>
@section Menu {
    <li class="toggle"><a href="#"><i class="fa fa-bars"></i> Menu</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Bio">Bio</a></li>
    <li class="item"><a asp-controller="Chinesepainting" asp-action="Index">Exhibits</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Info" class="active">Info</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Custom">Custom Art</a></li>
    <li class="item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    <li class="item"><a asp-controller="Cart" asp-action="Index">Shopping Cart</a></li>
}

